page-app-info {
     //hide scroll
     ::-webkit-scrollbar,
     *::-webkit-scrollbar {
     display: none;
     }
    .card-md
    {
        border-radius: 20px;
        padding-bottom: 12px;
        box-shadow: 5px 5px #9b9b9b;
    }
}
