<ion-header>

    <ion-navbar>
      <ion-title>เปลี่ยนรหัสผ่าน</ion-title>
    </ion-navbar>
  
  </ion-header>
  <ion-content  padding class="img-bg">
      <ion-grid>
        <!-- <ion-row>
            <ion-col col-12 style="text-align: center;">
                <img src="assets/imgs/logo-swu.png" style="width:40%; margin: 0 auto !important;text-align: center;" >
            </ion-col>
        </ion-row> -->
        <ion-row class="ion-row-number">
          <ion-col col-2></ion-col>
          <ion-col col-8><span style="font-size: larger;font-size: 30px;color: #203422;">ตั้งรหัส PIN</span></ion-col>
          <ion-col col-2></ion-col>
        </ion-row>
        <ion-row style="margin-bottom: 15px;margin-top: 25px;">
            <ion-col col-1></ion-col>
            <ion-col col-2 class="col-input-pin"><div class="div-input-pin">{{sPIN1}}</div></ion-col>
            <ion-col col-2 class="col-input-pin"><div class="div-input-pin">{{sPIN2}}</div></ion-col>
            <ion-col col-2 class="col-input-pin"><div class="div-input-pin">{{sPIN3}}</div></ion-col>
            <ion-col col-2 class="col-input-pin"><div class="div-input-pin">{{sPIN4}}</div></ion-col>
            <ion-col col-2 class="col-input-pin"><div class="div-input-pin">{{sPIN5}}</div></ion-col>
            <ion-col col-1></ion-col>
        </ion-row>
        <ion-row class="ion-row-number">
          <ion-col col-4><a class="circle-button btn-number" (click)="AddNumber('1')">1</a></ion-col>
          <ion-col col-4><a class="circle-button btn-number" (click)="AddNumber('2')">2</a></ion-col>
          <ion-col col-4><a class="circle-button btn-number" (click)="AddNumber('3')">3</a></ion-col>
       </ion-row>

        <ion-row class="ion-row-number">
            <ion-col col-4><a class="circle-button btn-number" (click)="AddNumber('4')">4</a></ion-col>
            <ion-col col-4><a class="circle-button btn-number" (click)="AddNumber('5')">5</a></ion-col>
            <ion-col col-4><a class="circle-button btn-number" (click)="AddNumber('6')">6</a></ion-col>
       </ion-row>
       <ion-row class="ion-row-number">
          <ion-col col-4><a class="circle-button btn-number" (click)="AddNumber('7')">7</a></ion-col>
          <ion-col col-4><a class="circle-button btn-number" (click)="AddNumber('8')">8</a></ion-col>
          <ion-col col-4><a class="circle-button btn-number" (click)="AddNumber('9')">9</a></ion-col>
       </ion-row>
       <ion-row class="ion-row-number">
            <ion-col col-4><a class="circle-button btn-number" (click)="Cancel()"><ion-icon name="arrow-round-back"></ion-icon></a></ion-col>
          <ion-col col-4><a class="circle-button btn-number" (click)="AddNumber('0')">0</a></ion-col>
          <!-- <ion-col col-4><button ion-button block icon-only (click)="DelNumber()" *ngIf="isShowBtnBackSpace"><ion-icon name="backspace"></ion-icon></button></ion-col> -->
          <ion-col col-4><a class="circle-button btn-number" (click)="DelNumber()" *ngIf="isShowBtnBackSpace"><ion-icon name="backspace"></ion-icon></a></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 style="text-align: center;">
                <button ion-button full round  color="primary-dark" (click)="SavePIN()">ตกลง</button>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-content>
  
  